<tabset type="pills" justified="true">

  <tab heading="Motors">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Motors</h3>
        <div ng-repeat="motor in motors">
          <form class="form-horizontal row">
            <div class="col-sm-2">
              <input type="number" class="form-control" value="0">
            </div>
            <label class="control-label">{{motor.partNumber}} - {{motor.name}}</label>
          </form>
          <br/>
        </div>
      </div>
    </div>
  </tab>

  <tab heading="Anti-Sweat">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Anti-Sweat Device</h3>
        <div ng-repeat="antisweat in antisweats">
          <form class="form-horizontal row">
            <div class="col-sm-2">
              <input type="number" class="form-control" value="0">
            </div>
            <label class="control-label">{{antisweat.partNumber}} - {{antisweat.name}}</label>
          </form>
          <br/>
        </div>

        <h3>Anti-Sweat Device Information</h3>
        <form class="form-horizontal row">
          <div class="form-group col-sm-3">
            <div class="col-sm-5">
              <input class="form-control" type="number" value="0">
            </div>
            <label class="control-label">Number of Doors</label>
          </div>
          <div class="form-group col-sm-3">
            <div class="col-sm-5">
              <input class="form-control" type="number" value="0">
            </div>
            <label class="control-label">Doors per Set</label>
          </div>
          <div class="form-group col-sm-3">
            <div class="col-sm-5">
              <input class="form-control" type="number" value="0">
            </div>
            <label class="control-label">Amps per Door</label>
          </div>
          <div class="form-group col-sm-3">
            <div class="col-sm-5">
              <input class="form-control" type="number" value="0">
            </div>
            <label class="control-label">Linear Ft of Doors</label>
          </div>
        </form>
      </div>
    </div>
  </tab>

  <tab heading="Cooler LED">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Cooler LED</h3><br/>

        <div ng-repeat="prodgroup in coolerleds">
          <h3>{{prodgroup.productname}}</h3>

          <div ng-repeat="product in prodgroup.products">
            <form class="form-horizontal row">
              <div class="col-sm-2">
                <input type="number" class="form-control" value="0">
              </div>
              <label class="control-label">{{product.partNumber}} - {{product.name}}</label>
            </form>
            <br/>
          </div>
        </div>

        <h3>Cooler LED Information</h3>

        <form class="form-horizontal row">
          <div class="form-group col-sm-3">
            <div class="col-sm-5">
              <input class="form-control" type="number" value="0">
            </div>
            <label class="control-label">Number of Doors</label>
          </div>
        </form>
      </div>
    </div>
  </tab>

  <tab heading="LED Lighting">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>LED Lighting</h3>

        <div ng-repeat="company in ledlights">
          <h3>{{company.companyname}}</h3>

          <div ng-repeat="product in company.products">
            <h4>{{product.name}}</h4>

            <form class="form-inline">
              <div class="form-group">
                Existing Wattage<br/>
                <input type="number" class="form-control" value="0">
              </div>
              <div class="form-group">
                New Wattage <br/>
                <input type="number" class="form-control" value="0">
              </div>
              <div class="form-group">
                QTY<br/>
                <input type="number" class="form-control" value="0">
              </div>
              <div class="form-group">
                <label>{{product.partNumber}} - {{product.description}}</label>
              </div>
            </form>
            <br/>
          </div>
        </div>

        <h3>LED Lighting Information</h3>

        <form class="form-horizontal row">
          <div class="form-group col-sm-3">
            <div class="col-sm-5">
              <input class="form-control" type="number" value="0">
            </div>
            <label class="control-label">Daily Hours of Use</label>
          </div>
        </form>
      </div>
    </div>
  </tab>
</tabset>
<button class="btn btn-default" ng-click="saveQuote()">Save Quote</button>&nbsp;<button class="btn btn-default" ng-click="createOrder()">Create Order</button>

